<globits-breadcrumbs [current]="'Dịch vụ'" [crumbs]="breadcrumbs" class="flex-auto"></globits-breadcrumbs>

<div class="py-3 px-2 fullwidth border-b-2 m-3 row">
  <div class="col-3">
    <p class="box-header">Api</p>
  </div>
  <div class="col-9 card">
    <div class="box-body">
      <strong><mat-icon style="position: relative; top:8px">fast_forward</mat-icon> /api/estimated-quantity-administrative-unit/get-list-administrative/</strong>
      <div class="">
        <input class="textInput" value="API lấy đơn vị hành chính theo id cha">
      </div>
    </div>
  </div>
</div>
