.parameters-menu {
  min-height: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgb(0 46 89 / 15%);
  background-color: #fff;
  margin-bottom: 3%;
}

::ng-deep{
  .icon-edit{
    color: #FFC804
  }
  
  .icon-delete{
    color: #F23F44
  }
}

.btn{
  border-radius: 6px;
}