.vertical-seperator{
  float: left;
  padding-top: 10px !important;
  margin-left: 10px;
  margin-right: 10px;
  height: 35px;
  width: 2px;
  background-color: #EEEEEE;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left:10px
}

.user-information{
  float: left;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left:10px;
    padding-top: 0 !important;
}
