<vex-secondary-toolbar>
    <globits-breadcrumbs [crumbs]="breadcrumbs">

    </globits-breadcrumbs>
</vex-secondary-toolbar>


<div class="container">
    <mat-card class="mt-3">
        <mat-tab-group #tabGroup justify="between" class="tab-container">
            <mat-tab label="Tải tệp tin">
                <ng-template matTabContent>
                        <mat-card-content>
                            <file-management-tab-first (next)="next()"></file-management-tab-first>
                        </mat-card-content>
                </ng-template>
            </mat-tab>
            <mat-tab label="Danh sách tập tin đã tải">
              <ng-template matTabContent>
                    <mat-card-content>
                        <file-management-tab-second></file-management-tab-second>
                    </mat-card-content>
              </ng-template>
            </mat-tab>
            <mat-tab label="Danh sách cơ sở đã tải tập tin lên">
                <ng-template matTabContent>
                        <mat-card-content>
                            <file-management-tab-third></file-management-tab-third>
                        </mat-card-content>
                </ng-template>
              </mat-tab>
        </mat-tab-group>
</mat-card>
</div>
