<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <div class="flex items-center" mat-dialog-title>
      <h2 class="headline m-0 flex-auto">{{isCreateMode ? 'Create' : 'Update'}}</h2>
      <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
          <mat-icon svgIcon="mat:close"></mat-icon>
      </button>
  </div>
  <mat-divider class="-mx-6 text-border"></mat-divider>
  <mat-dialog-content class="flex flex-col">
      <div class="flex flex-col sm:flex-row">
          <mat-form-field appearance="outline" class="mt-6 flex-auto">
              <mat-label>Mã</mat-label>
              <input formControlName="code" matInput>
              <mat-error *ngIf="submitted && f.code.hasError('required')">Mã dân tộc không được để trống</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="sm:mt-6 sm:ml-6 flex-auto">
              <mat-label>Tên dân tộc</mat-label>
              <input formControlName="name" matInput>
              <mat-error *ngIf="submitted && f.name.hasError('required')">Tên dân tộc không được để trống</mat-error>
          </mat-form-field>
      </div>
      <mat-form-field appearance="outline" class="vex-flex-form-field" color="primary">
          <mat-label>Mô tả</mat-label>
          <textarea formControlName="description" matInput></textarea>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close type="button">Đóng</button>
      <button color="primary" mat-flat-button type="submit">Xác nhận</button>
  </mat-dialog-actions>
</form>
